{
  "mcpServers": {
    "TalkToFigma": {
      "command": "npx",
      "args": ["-y", "cursor-talk-to-figma-mcp@latest"]
    },
    "google-sheets": {
      "type": "stdio",
      "command": "uvx",
      "args": ["mcp-google-sheets"],
      "env": {
        "CREDENTIALS_PATH": "C:\\path\\to\\your\\credentials.json",
        "TOKEN_PATH": "C:\\path\\to\\your\\token.json"
      }
    }
  }
}
